.filter-nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 90px;

	&__search {
		display: flex;
		align-items: center;
		gap: 12px;
		padding: 0 50px;

		label {
			font-size: 16px;
			font-style: normal;
			font-weight: 400;
			line-height: normal;
		}
	}

	button {
		text-decoration: none;
		padding: 1px 40px;
		margin-right: 50px;
		font-family: Arial;
		font-size: 13.3px;
		font-style: normal;
		font-weight: 400;
		line-height: 36px;
		letter-spacing: 0.8px;
		text-transform: uppercase;
		transition: all 0.3s ease;
		cursor: pointer;
	}
}

/* Dark x Light Themes */
[data-theme='dark'] .filter-nav {
	border-top: 1px solid #2e2e2e;
	border-bottom: 1px solid #2e2e2e;
}

[data-theme='light'] .filter-nav {
	border-top: 1px solid #e6e6e6;
	border-bottom: 1px solid #e6e6e6;
}

[data-theme='dark'] .filter-nav__search p {
	color: #a3a3a3;
}

[data-theme='light'] .filter-nav__search p {
	color: #666; /* Design */
	color: #525252; /* Accessibility */
}

[data-theme='dark'] .filter-nav button {
	color: #c8c8c8;
	background-color: #000;
	border: 1px solid #c8c8c8;

	&:hover {
		background-color: #333333;
	}
}

[data-theme='light'] .filter-nav button {
	color: #c8c8c8; /* Design */
	color: #505050; /* Accessibility */
	background-color: #fff;
	border: 1px solid #c8c8c8;

	&:hover {
		color: #484848; /* Accessibility */
		background-color: rgba(230, 230, 230, 0.4);
	}
}
