.main {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	gap: 50px;
	padding-bottom: 80px;

	&__header {
		display: flex;
		flex-direction: column;
		gap: 25px;
		padding: 0 50px;

		h1,
		p {
			font-style: normal;
			font-weight: 300;
		}

		h1 {
			font-size: 54px;
			line-height: 64px;
		}

		p {
			max-width: 960px;
			font-size: 22px;
			line-height: 32px;
			letter-spacing: 0.917px;
		}
	}

	.char__heading,
	.char__section {
		padding: 0 50px;
	}

	.char__heading {
		font-size: 34px;
		font-style: normal;
		font-weight: 300;
		line-height: 40px;
	}

	.char__section {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 110px;

		&--content {
			display: flex;
			flex-direction: column;
			gap: 16px;

			&-info {
				display: flex;
				flex-direction: column;
				gap: 5px;

				.name,
				.homeworld {
					font-style: normal;
					font-weight: 400;
					line-height: 28px;
					letter-spacing: 1px;
				}

				.name {
					font-size: 20px;
				}

				.homeworld {
					font-size: 16px;
				}
			}

			&-stats {
				p {
					color: #757575;
					font-size: 12px;
					font-style: normal;
					font-weight: 400;
					line-height: 16px;
					letter-spacing: 0.5px;
					text-transform: uppercase;
				}
			}
		}
	}

	.load-more__btn {
		align-self: center;
		text-decoration: none;
		width: 486px;
		height: 48px;
		font-family: Arial;
		font-size: 14px;
		font-style: normal;
		font-weight: 400;
		line-height: 46px;
		text-transform: uppercase;
		transition: all 0.3s ease;
		cursor: pointer;
	}
}

/* Dark x Light Themes */
[data-theme='dark'] .main__header h1 {
	color: #999;
}

[data-theme='light'] .main__header h1 {
	color: #333;
}

[data-theme='dark'] .main__header p {
	color: #a3a3a3;
}

[data-theme='light'] .main__header p {
	color: #666; /* Design */
	color: #525252; /* Accessibility */
}

[data-theme='dark'] .char__heading {
	color: #999;
}

[data-theme='light'] .char__heading {
	color: #333;
}

[data-theme='dark'] .char__section--content-stats p {
	color: #9e9e9e;
}

[data-theme='light'] .char__section--content-stats p {
	color: #757575; /* Design */
	color: #525252; /* Accessibility */
}

[data-theme='dark'] .load-more__btn {
	color: #99aaba;
	background-color: #000;
	border: 1px solid #99aaba;

	&:hover {
		color: #ccd5dd;
		background-color: #333333;
	}
}

[data-theme='light'] .load-more__btn {
	color: #002b53;
	background-color: #fff;
	border: 1px solid #002b53;

	&:hover {
		background-color: rgb(230, 230, 230, 0.4);
	}
}

//////////////////////////////////////////////////////
//////////////////////////////////////////////////////

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
	.card:hover {
		background: rgba(var(--card-rgb), 0.1);
		border: 1px solid rgba(var(--card-border-rgb), 0.15);
	}

	.card:hover span {
		transform: translateX(4px);
	}
}

/* Mobile */
@media (max-width: 700px) {
	.content {
		padding: 4rem;
	}

	.grid {
		grid-template-columns: 1fr;
		margin-bottom: 120px;
		max-width: 320px;
		text-align: center;
	}

	.card {
		padding: 1rem 2.5rem;
	}

	.card h2 {
		margin-bottom: 0.5rem;
	}

	.center {
		padding: 8rem 0 6rem;
	}

	.center::before {
		transform: none;
		height: 300px;
	}

	.description {
		font-size: 0.8rem;
	}

	.description a {
		padding: 1rem;
	}

	.description p,
	.description div {
		display: flex;
		justify-content: center;
		position: fixed;
		width: 100%;
	}

	.description p {
		align-items: center;
		inset: 0 0 auto;
		padding: 2rem 1rem 1.4rem;
		border-radius: 0;
		border: none;
		border-bottom: 1px solid rgba(var(--callout-border-rgb), 0.25);
		background: linear-gradient(
			to bottom,
			rgba(var(--background-start-rgb), 1),
			rgba(var(--callout-rgb), 0.5)
		);
		background-clip: padding-box;
		backdrop-filter: blur(24px);
	}

	.description div {
		align-items: flex-end;
		pointer-events: none;
		inset: auto 0 0;
		padding: 2rem;
		height: 200px;
		background: linear-gradient(
			to bottom,
			transparent 0%,
			rgb(var(--background-end-rgb)) 40%
		);
		z-index: 1;
	}
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
	.grid {
		grid-template-columns: repeat(2, 50%);
	}
}
