.main {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	width: 100%;
	gap: 50px;
	padding-bottom: 80px;

	&__header {
		display: flex;
		flex-direction: column;
		gap: 25px;
		padding: 0 50px;

		h1,
		p {
			font-style: normal;
			font-weight: 300;
		}

		h1 {
			font-size: 54px;
			line-height: 64px;
		}

		p {
			max-width: 960px;
			font-size: 22px;
			line-height: 32px;
			letter-spacing: 0.917px;
		}
	}

	.char__heading {
		padding: 0 50px;
		font-size: 34px;
		font-style: normal;
		font-weight: 300;
		line-height: 40px;
	}
}

/* Dark x Light Themes */
[data-theme='dark'] .main {
	&__header {
		h1 {
			color: #adadad;
		}

		p {
			color: #b3b3b3;
		}
	}

	.char__heading {
		color: #adadad;
	}
}

[data-theme='light'] .main {
	&__header {
		h1 {
			color: #333;
		}

		p {
			color: #666; /* Design */
			color: #525252; /* Accessibility */
		}
	}

	.char__heading {
		color: #333;
	}
}

/* Small Laptops */
@media screen and (max-width: 994px) {
	.char__heading {
		text-align: center;
	}
}

/* Mobile */
@media screen and (max-width: 600px) {
	.main {
		gap: 28px;
		padding-bottom: 40px;

		&__header {
			padding: 0 25px;

			h1 {
				font-size: 32px;
				line-height: 40px;
			}

			p {
				font-size: 16px;
				line-height: 24px;
			}
		}

		.char__heading {
			text-align: start;
			padding: 0 25px;
			font-size: 34px;
		}
	}
}

/* Smaller Mobile Phones */
@media screen and (max-width: 390px) {
	.main {
		&__header {
			h1 {
				font-size: 24px;
				letter-spacing: -0.5px;
			}

			p {
				font-size: 14px;
			}
		}

		.char__heading {
			font-size: 22px;
		}
	}
}
