.footer {
	height: 60px;

	&__text {
		text-align: center;
		font-size: 12px;
		font-weight: 400;
	}
}

/* Dark x Light Themes */
[data-theme='dark'] .footer__text {
	color: #a3a3a3;
}

[data-theme='light'] .footer__text {
	color: #525252;
}

/* Mobile */
@media screen and (max-width: 600px) {
	.footer__text {
		font-size: 10px;
	}
}
