.error {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
}

/* Dark x Light Themes */
[data-theme='dark'] .error {
	h3 {
		color: #999;
	}

	h5 {
		color: #a3a3a3;
	}
}

[data-theme='light'] .error {
	h3 {
		color: #333;
	}

	h5 {
		color: #666; /* Design */
		color: #525252; /* Accessibility */
	}
}
